/***** Main elements *****/
body {
    margin: 0;
    padding: 0;
    min-width: 850px;
    background: #BCB1AC;
    font-family: Helvetica, tahoma, verdana, arial, sans-serif;
}

.clear {
    clear: both;
}

:not(:hover) > * > .switch:first-child {
    display: none;
}

:hover > * > .switch:last-child {
    display: none;
}

.content {
    overflow: auto;
    margin: 15px auto 20px;
    padding: 0;
    width: 800px;
    height: auto;
    border-radius: 4px;
    background: #876453;
    -webkit-box-shadow: 0 0 10px -1px #323232;
    -moz-box-shadow: 0 0 10px -1px #323232;
    box-shadow: 0 0 10px -1px #323232;
}

.content > hr {
    margin: 20px;
    border: 0;
    border-top: 2px dashed #3D3937;
}

.major_section {
    clear: both;
    overflow: visible;
    margin: 10px;
    padding: 10px;
    height: auto;
    border-color: #BCB1AC;
    border-radius: 3px;
    background: #3D3937;
    -webkit-box-shadow: 0 0 3px 0 #323232;
    -moz-box-shadow: 0 0 3px 0 #323232;
    box-shadow: 0 0 3px 0 #323232;
    color: #dfd2cb;
}

.major_section_header {
    text-align: center;
    text-indent: 0;
    font-weight: bolder;
}

/***** Top Panel *****/
.top_panel {
    position: relative;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3D3937;
    -webkit-box-shadow: 0 0 16px 0 #323232;
    -moz-box-shadow: 0 0 16px 0 #323232;
    box-shadow: 0 0 16px 0 #323232;
}

.main_menu li:hover a {
    color: white;
    cursor: pointer;
}

.top_panel,
.top_panel a {
    color: #BCB1AC;
    font-weight: bold;
}

.main_menu {
    width: 100%;
}

.main_menu,
.main_menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_menu li {
    margin: 7px 0;
    border-right: 2px dashed #876453;
}

.main_menu li:first-child {
    margin-left: 4px;
    border-left: 2px dashed #876453;
}

.main_menu li:last-child {
    border-right: none;
    border-left: 2px dashed #876453;
}

.main_menu a,
.main_menu a:visited {
    display: block;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}

/***** Forms [login, register, etc..] *****/
html, body, .form_div {
    height: 100%;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 5px 15px;
    width: auto;
    background-color: #3D3937;
    -webkit-box-shadow: 0 0 16px 0 #323232;
    -moz-box-shadow: 0 0 16px 0 #323232;
    box-shadow: 0 0 16px 0 #323232;
    color: #dfd2cb;
    text-align: center;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form_input {
    margin: 0;
    padding: 0;
    width: 150px;
    border: solid #876453;
    background-color: #BCB1AC;
    font-size: inherit;
}

.form_div {
    position: relative;
    display: block;
    clear: both;
    height: 100%;
}

.form_div > * {
    display: block;
    float: right;
    clear: both;
    margin: 10px 0;
}

.form_button {
    position: relative;
    left: 50%;
    display: block;
    float: none;
    border: none;
    background-color: #3D3937;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    opacity: 1;
    cursor: pointer;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.form_button:disabled {
    opacity: 0.2;;
    cursor: default;
}

/***** idea, ideas list *****/
.idea_main {
    float: left;
    max-width: 700px;
}

.idea_stats {
    float: right;
    max-width: 200px;
}

.idea_title {
    color: #dfd2cb;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

a.idea_title:hover {
    text-decoration: underline;
}

.idea_stat {
    float: right;
    margin: 5px 10px;
    padding: 0;
    color: #7f7776;
    text-align: center;
    cursor: default;
}

.votes {
    float: right;
    margin: 5px;
    padding: 0;
    color: #7f7776;
    text-align: center;
    cursor: default;
}

.vote_down:hover, .vote_down.voted {
    color: red;
    cursor: pointer;
}

.vote_up:hover, .vote_up.voted {
    color: green;
    cursor: pointer;
}

.idea_stat_desc {
    text-transform: uppercase;
    font-size: smaller;
}

.idea_tag {
    float: left;
    margin: 5px 3px;
    padding: 0;
    color: #7f7776;
    text-decoration: none;
    text-transform: uppercase;
    font-size: smaller;
    cursor: pointer;
}

.idea_stat:hover, .idea_tag:hover {
    color: #dfd2cb;
}

.idea_desc {
    padding: 10px 50px 10px 50px;
    text-indent: 20px;
}

/**** comments ****/
.comment {
    position: relative;
    clear: both;
    margin: 5px;
    padding: 0;
    border-width: 1px 0 0 1px;
    border-style: dotted;
    font-size: 95%;
}

.comment .comment {
    margin-right: 0;
    margin-left: 20px;
    border-width: 1px 0 0 1px;
}

.comment_content {
    clear: both;
    padding: 8px;
}

.comment_author {
    display: inline;
    padding: 5px;
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

.respond_btn {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    padding: 5px 10px;
    border: 1px dotted;
    border-radius: 5px 5px 0 0;
    background: #3D3937;
    color: #dfd2cb;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.comment_content:hover .respond_btn {
    opacity: 1;
}

/***** comment editor *****/
.editor > textarea {
    margin-top: 20px;
    width: 90%;
    height: 50px;
}

.editor > button {
    position: relative;
    display: inline;
    overflow: hidden;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background: #BCB1AC;
    -webkit-box-shadow: 0 0 3px 0 #BCB1AC;
    -moz-box-shadow: 0 0 3px 0 #BCB1AC;
    box-shadow: 0 0 3px 0 #BCB1AC;
    color: #323232;
    font-weight: bolder;
}

.editor_wrapper {
    text-align: center;
}

/***** new idea *****/
.desc_input, .title_input, .tags_input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    background: inherit;
    -webkit-box-shadow: 0 0 5px 0 #876453;
    -moz-box-shadow: 0 0 5px 0 #876453;
    box-shadow: 0 0 5px 0 #876453;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.title_input, .tags_input {
    text-align: center;
}

.desc_input {
    height: 400px;
}