/* Main elements */
body {
    margin: 0;
    padding: 0;
    min-width: 850px;
    background-color: #876453;
    font-family: Helvetica, tahoma, verdana, arial, sans-serif
}

.center {
    text-align: center;
}

:not(:hover) > * > .switch:first-child {
    display: none;
}

:hover > * > .switch:last-child {
    display: none;
}

/* Top Panel */
.top_panel {
    position: relative;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3D3937;
    -webkit-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
}

.main_menu li:hover a {
    color: white;
}

.top_panel,
.top_panel a {
    color: #BCB1AC;
    font-weight: bold;
}

.main_menu {
    width: 100%;
}

.main_menu,
.main_menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_menu a,
.main_menu a:visited {
    display: block;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
}

/* Login form */
html, body, .form_div {
    height: 100%;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    overflow: auto;
    margin: 0;
    padding: 5px 15px;
    width: auto;
    background-color: #3D3937;
    -webkit-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    color: #BCB1AC;
    text-align: center;
    font-weight: bold;
}

.form_input {
    margin: 0;
    padding: 0;
    width: 150px;
    border: solid #876453;
    background-color: #BCB1AC;
    font-size: inherit;
}

.form_div {
    position: relative;
    height: 100%;
    display: block;
    clear: both;
}

.form_div > * {
    float: right;
    display: block;
    clear: both;
    margin: 10px 0;
}

.form_button {
    float: none;
    position: relative;
    display: block;
    left: 50%;
    font-weight: inherit;
    font-family: inherit;
    border: none;
    background-color: #3D3937;
    font-size: inherit;
    color: inherit;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50);
}

/* Table presentation */
.title {
    color: #BCB1AC;
    text-align: center;
    text-shadow: 0 0 5px #3D3937;
}

.data_table {
    margin: auto;
    max-width: 1300px;
    border-spacing: 15px 8px;
    border-collapse: separate;
    border-color: #BCB1AC;
    border-radius: 2px;
    background-color: #3D3937;
    -webkit-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
    color: #BCB1AC;
}

.data_table tr:hover td {
    color: white;
    cursor: pointer;
}

.data_table td,
.data_table th {
    padding: 3px 5px;
}

.data_table td {
    position: relative;
    border-bottom: 1px dashed #BDB76B;
}

.data_table th {
    border-bottom: 2px solid #BDB76B;
}

.desription {
    min-width: 350px;
}

.data_table input,
.data_table select {
    width: 100%;
    border: dotted #876453;
    background-color: #BCB1AC;
}

.data_table .addrm_button {
    position: absolute;
    right: -40px;
    margin: -2px 0 0;
    padding: 0;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 0 50% 50% 0;
    background-color: #3D3937;
    -webkit-box-shadow: 0 0 2px 0 rgb(50, 50, 50);
    -moz-box-shadow: 0 0 2px 0 rgb(50, 50, 50);
    box-shadow: 0 0 2px 0 rgb(50, 50, 50);
    color: #BCB1AC;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    line-height: 25px;
    cursor: pointer;
}

/* .idea_list */
.idea_list {
    background: #BDB76B;
    display: block;
    margin: 10px auto;
    padding: 0 20px;
    min-width: 500px;
    max-width: 1200px;
}
.idea {
    display: block;
    clear: both;
    margin: 10px 0;
}